/* Color palette */

:root {
  --deep-red: #aa0805;
  --dark-brown: #180505;
  --white: #ffffff;
  --very-light-pink: #f0eded;
  --navy: #002642;
}
.isRed {
  color: #aa0805 !important;
}

.isBlack {
  color: #180505 !important;
}

.isWhite {
  color: #ffffff !important;
}

.isGray {
  color: #f0eded !important;
}

.isNavy {
  color: #002624 !important;
}


.isBrown {
  color: #7C6F70 !important;
}



/* Text styles */


h3 {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.1px;
  color: var(--dark-brown);
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.7;
  letter-spacing: 2.1px;
  text-align: justify;
  color: var(--dark-brown);
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}




h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 100px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 6.7px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.3px;
}




p {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.3px;
  text-decoration: none;
}

.snsFooter {
  width: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.copyright {
  width: 100%;
  height: 80px;
  background-color: var(--dark-brown);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.copyright P {
  font-size: 12px;
  margin: 0;
  font-weight: normal;
  color: var(--white);
}
