/* Color palette */

:root {
  --deep-red: #aa0805;
  --dark-brown: #212020;
  --white: #ffffff;
  --very-light-pink: #f0eded;
  --navy: #002642;
}
.isRed {
  color: #aa0805 !important;
}

.isBlack {
  color: #212020 !important;
}

.isWhite {
  color: #ffffff !important;
}

.isGray {
  color: #f0eded !important;
}

.isNavy {
  color: #002624 !important;
}


.isBrown {
  color: #7C6F70 !important;
}



/* Text styles */


h3 {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.1px;
  color: var(--dark-brown);
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.7;
  letter-spacing: 2.1px;
  text-align: justify;
  color: var(--dark-brown);
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  font-family: 'Renner*', sans-serif;
  font-weight: 400;
}




h1 {
  font-family: 'Renner*', sans-serif;
  font-size: 100px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 6.7px;
}

h2 {
  font-family: 'Renner*', sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.3px;
}




p {
  font-family: 'Renner*', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.3px;
  text-decoration: none;
  /* margin-block-start: 0;
  margin-block-end: 0; */
}



.copyright {
  display: flex;
  margin-left: auto;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding-right: 10px;
  padding-bottom: 5vh;

}
