p {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.7;
  letter-spacing: 2.1px;
  text-align: justify;
  text-decoration: none;
  color: var(--dark-brown);
}

#workView {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerTopWork {
  position: fixed;
  width: 100%;
  padding-top: 40px;
}

.headerImg {
  width: 100%;
}

.contentLogo {
  height: 75px;
  margin-top: 130px;
  margin-bottom: 20PX;
}


.date {
  color: #7f7f7f;
  font-weight: bold;
}

.copy {
  width: 50%;
  font-size: 35px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 3.7px;
  color: var(--navy);
  text-align: center;
}

.overview {
  width: 50%;
}

.workImg {
  width: 60%;
}

.movie {
  width: 60vw;
  height: 30vw;
  margin: 30px auto;
}

.job {
  width: 50%;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

.tools {
  width: 50%;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

.subtitle {
  width: 50%;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  color: #7f7f7f;
}

.title {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2.7px;
  color: var(--navy);
  margin-top: 250px;
  margin-bottom: 0;
}

.text {
  width: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.workImg {
  margin: 30px auto;
}

.backBtn {
  display: block;
  width: 350px;
  height: 55px;
  border-radius: 27.5px;
  margin: 350px auto 150px;
  border: solid 3px var(--deep-red);
  background-color: var(--white);
  text-decoration: none;
}


.backBtn p {
  width: 350px;
  text-align: center;
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  line-height: 55px;
  text-decoration: none;
  color: var(--deep-red);

}
